<!DOCTYPE html>
<html lang="es-CL">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/prestamos.css') }}"
    />
    <title>Inicio</title>
  </head>
  <body>
    <header>
      <div class="header">
        <a href=""
          ><img
            src="https://intranet.inacap.cl/tportalvp/portales/tp643228462j405/estilos/logoINACAP.png"
        /></a>
        <hr size="30px" />
        <p>BiblioteCAP</p>
        <div class="usuario">
          <p>nombredeladmin</p>
        </div>
      </div>
    </header>
    <nav class="navegador">
      <ul>
        <li>
          <button class="link" id="">Textos</button> <!-- borre la etiqueta <u>, siesque era importante dejo la sintaxis original: <u><a href="" class="link">Textos</a></u> -->
        </li>
        <li>
          <button class="link" id="">Usuarios</button>
        </li>
        <li>
          <button class="link" id="mostrarOpciones">Prestamos</button>
          <ul id="opcionesPrestamos" class="hidden">
            <li><a href="#" id="verPrestamos">Ver Prestamos</a></li>
            <li><a href="#" id="agregarPrestamos">Agregar Prestamos</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="body">
      <div id="infoPrestamos" class="hidden">
        <form id="formPrestamo" class="formulario">
          <h2><u>Nuevo Prestamo</u></h2>
          <label for="usuario"><strong>Usuario:</strong></label>
          <input type="text" id="usuario" name="usuario" required /><br /><br />
          <label for="fechaDevolucion"><strong>Fecha devolucion:</strong></label>
          <input
            type="text"
            id="fechaDevolucion"
            name="fechaDevolucion"
            required
          /><br /><br />
          <label for="cantidad"><strong>Cantidad:</strong></label>
          <input type="text" id="cantidad" name="cantidad" required /><br /><br />
          <label for="ejemplar"><strong>Ejemplar:</strong></label>
          <input type="text" id="ejemplar" name="ejemplar" required /><br /><br />
          <label for="atraso"><strong>Atraso:</strong></label>
          <input type="text" id="atraso" name="atraso" required /><br /><br />
          <label for="multa"><strong>Multa:</strong></label>
          <input type="text" id="multa" name="multa" required /><br /><br />
          <button type="submit" id="boton">Agregar</button>
        </form>
      </div>
      <div id="tablaPrestamos" class="hidden">
        <table class="prestamos">
          <thead>
            <tr>
              <th>RUT</th>
              <th>Fecha prestamo</th>
              <th>Fecha devolucion</th>
              <th>Cantidad textos</th>
              <th>Ejemplar</th>
              <th>Atraso</th>
              <th>Multa</th>
              <th>&nbsp</th>
              <th>&nbsp</th>
            </tr>
          </thead>
          {% for datos in prestamos %}
          <tbody>
            <tr>
              <td>{{datos.rut}}</td>
              <td>{{datos.fechaPrestamo}}</td>
              <td>{{datos.fechaDevolucion}}</td>
              <td>{{datos.cantidadTextos}}</td>
              <td>{{datos.ejemplaresIsbn}}</td>
              <td>x</td>
              <td>x</td>
              <td><button>Editar</button></td>
              <form></form>
              <td><button class="boton-delete" data-id="{{ datos._id }}">Eliminar</button></td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </div>
    <footer>
      <div class="logoFooter">
          <img src="https://intranet.inacap.cl/tportalvp/portales/tp643228462j405/estilos/incapFooter.png">
      </div>
      <div class="footer">
          <div class="contactos">
              <address class="datos">
                  <p>Dirección: 
                      <a href="https://www.google.com/maps/d/u/0/viewer?hl=es&ie=UTF8&oe=UTF8&msa=0&mid=1-IoFg4uSS0Uiz9kVaJLFyxeu5BY&ll=-37.79074820632114%2C-71.07159235&z=4">
                          <img src="https://cdn-icons-png.flaticon.com/512/9356/9356230.png" alt="Nuestras sedes en GoogleMaps" class="icon">
                      </a>
                  </p>
                  <p>Av. Vitacura 10.151, Vitacura, Santiago - Chile.</p>
                  <br>
                  <hr>
                  <p>Teléfono: 800 20 25 20</p>
                  <p>Desde celulares: 02 - 2 5797204</p>
                  <p>E-mail: 
                          <a href="MAILTO:informaciones@inacap.cl">informaciones@inacap.cl</a>
                  </p>
                  </p>
              </address>
          </div>
          <div class="redes">
              <h3>Nuestras redes</h3>
              <br>
              <a href="https://www.youtube.com/user/CANALINACAP"><img src="https://digital.inacap.cl/2016/img/rsYoutube.png"></a>
              <a href="http://www.facebook.com/INACAP"><img src="https://digital.inacap.cl/2016/img/rsFacebook.png"></a>
              <a href="https://twitter.com/INACAPINOS"><img src="https://digital.inacap.cl/2016/img/rsTwitter.png"></a>
              <a href="https://www.instagram.com/inacap_oficial/"><img src="https://digital.inacap.cl/2016/img/insta.png"></a>
              <a href="https://www.linkedin.com/edu/school?id=164073&trk=edu-up-nav-menu-home"><img src="https://digital.inacap.cl/2016/img/linkedin.png"></a>
          </div>
          <div class="acreditacion">
              <img src="https://digital.inacap.cl/2014/Logos_acreditacion/footer/sellos-footer.png">
          </div>
      </div>
    </footer>
  </body>
  <script src="{{ url_for('static', filename='scripts/prestamos.js') }}"></script>
</html>
