* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    height: 100%;
}

body{
    background-image: url("../assets/fondoInicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.body {
    height: 70.8%;
}

.container {
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    background-color: #ffffff;
}

.login h1{
    text-decoration:underline;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 20px 20px;
    color: red;
    background-color: #ffffff;
}

.login {
    background-color: #ffffff;
    width: max-content;
    padding-block: 30px;
    margin: 20px 60px;
    text-align: center;
    font-weight: bold;
}

.login label {
    display: inline-block;
    width: 80px;
    padding: 2px 0;
}

.boton{
    padding: 10px;
    text-align: center;
}

.boton input{
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

header {
    background-color: #990000;
}

.header {
    display: flex;
    padding: 20px 4vw;
    align-items: center;
}

.header img{
    width: 6rem;
    height: auto;
    margin: 0 10px;
}

.header p {
    color: #fff;
    margin: 0 10px;
    font-weight: bold;
    font-size: 18px;
}









.datos p, .datos a {
    align-items: center;
}

.icon {
    width: 20px;
    height: auto;
}

.footer {
    font-size: 10px;
    font-family: Arial;
    width: 100%;
    display: flex;
    align-items: center;
}

address {
    font-style: normal;
}

.contactos {
    width: 20%;
}

.contactos p {
    margin: 0.3rem 0;
}

footer {
    background-color: #F6F6F6;
    padding: 20px 5vw;
    margin: 0 auto;
    background-image: url(https://intranet.inacap.cl/tportalvp/portales/tp643228462j405/estilos/bg-footerTopRSP.png);
    background-repeat: repeat-x;
    background-position: center top;
    background-color: #f6f6f6;
}

.redes {
    text-align: center;
    margin-left: auto;
}

.acreditacion {
    margin-left: auto;
}

.acreditacion img {
    width: auto;
    height: 78px;
}

.redes img{
    margin: 0.4rem;
    max-width: 100%;
    height: auto;
}

.logoFooter img {
    width: 80px;
    height: auto;
    margin-top: 20px;
}

.logos {
    display: flex;
}