<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="scripts/script.js"></script>
    <link rel="stylesheet" href="../styles/style.css">
    <title>Inacap</title>
</head>
<body>
    <header>

    </header>
    <div class="container">
        <div class="login">
            <h1>"BiblioteCAP"</h1>
            <label>Usuario: </label>
            <input type="text"><br>
            <label>Contraseña: </label>
            <input type="text">
            
        </div>
    </div>
    <footer>
        
    </footer>
</body>
</html>