<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="scripts/script.js"></script>
    <link rel="stylesheet" href="../styles/inicio.css">
    <title>Inicio</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="" class="link">Inicio</a></li>
                <li><a href="" class="link">Textos</a></li>
                <li><a href="" class="link">Usuarios</a></li>
                <li><a href="" class="link">Prestamos</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>