<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <script src="scripts/script.js"></script>
    <link rel="stylesheet" href="../styles/inicio.css">
    <title>Inicio</title>
</head>
<body>
    <header>
        <div class="header">
            <a href=""><img src="https://intranet.inacap.cl/tportalvp/portales/tp643228462j405/estilos/logoINACAP.png"></a>
            <hr size="30px">
            <p>BiblioteCAP</p>
            <div class="usuario">
                <p>Bienvenido, nombredeladmin</p>
            </div>
        </div>
    </header>
    <nav class="navegador">
        <ul>
            <li><a href="" class="link">Inicio</a></li>
            <li><a href="" class="link">Textos</a></li>
            <li><a href="" class="link">Usuarios</a></li>
            <li><a href="" class="link">Prestamos</a></li>
        </ul>
    </nav>
</body>
</html>