<!DOCTYPE html>
<html lang="es-CL">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/textos.css" />
    <title>Inicio</title>
  </head>
  <body>
    <header>
      <div class="header">
        <a href=""
          ><img
            src="https://intranet.inacap.cl/tportalvp/portales/tp643228462j405/estilos/logoINACAP.png"
        /></a>
        <hr size="30px" />
        <p>BiblioteCAP</p>
        <div class="usuario">
          <p>nombredeladmin</p>
        </div>
      </div>
    </header>
    <nav class="botones">
      <ul>
        <li>
          <u><a href="" class="link">Inicio</a></u>
        </li>
        <li>
          <u><button id="mostrarOpciones">Textos</button></u>
          <ul id="opcionesTextos" class="hidden">
            <li><a href="#" id="verTextos">Ver textos</a></li>
            <li><a href="#" id="agregarTexto">Agregar texto</a></li>
            <li><a href="#" id="editarTextos">Editar texto</a></li>
          </ul>
        </li>
        <li>
          <u><a href="" class="link">Usuarios</a></u>
        </li>
        <li>
          <u><a href="" class="link">Prestamos</a></u>
        </li>
      </ul>
    </nav>
    <div id="infoTextos" class="hidden">
      <form>
        <h2><u>Nuevo texto</u></h2>
        <label for="isbn"><strong>ISBN:</strong></label><br>
        <input type="text" id="isbn" name="isbn" required /><br>
        <label for="titulo"><strong>Titulo:</strong></label><br>
        <input type="text" id="titulo" name="titulo" required /><br>
        <label for="autor"><strong>Autor:</strong></label><br>
        <input type="text" id="autor" name="autor" required /><br>
        <label for="editorial"><strong>Editorial:</strong></label><br>
        <input
          type="text"
          id="editorial"
          name="editorial"
          required
        /><br>
        <label for="stock"><strong>Stock:</strong></label><br>
        <input type="text" id="stock" name="stock" required /><br>
        <button type="submit" id="boton">Agregar</button>
      </form>
    </div>
    <div >
      <table class="textos">
        <tr>
          <th>RUT </th>
          <th>Nombre </th>
          <th>Prestamos </th>
          <th>Correo </th>
          <th>Celular </th>
          <th>Rol </th>
          <th>Estado </th>
        </tr>
        <tr>
          <td>RUT 1</td><br>
          <td>Usuario 1</td>
          <td>01</td>
          <td>example1@gmail.com</td>
          <td>+569</td>
          <td>Docente/Alumno</td>
          <td>bloqueado/activo</td>
        </tr>
        <tr>
          <td>RUT 2</td>
          <td>Usuario 2</td>
          <td>02</td>
          <td>example2@gmail.com</td>
          <td>+569</td>
          <td>Docente/Alumno</td>
          <td>bloqueado/activo</td>
        </tr>
        <tr>
          <td>RUT 3</td>
          <td>Usuario 3</td>
          <td>03</td>
          <td>example3@gmail.com</td>
          <td>+569</td>
          <td>Docente/Alumno</td>
          <td>bloqueado/activo</td>
        </tr>
      </table>
    </div>
    <script src="../scripts/textos.js"></script>
  </body>
</html>
