* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
}

.login {
    background-color: aqua;
    width: max-content;
    border-radius: 10px;
}

.login label {
    display: inline-block;
    width: 80px;
    padding: 2px 0;
}