* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-image: url("../assets/fondo.inicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    background-color: #ffffff;
}

.login h1{
    text-decoration:underline;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    color: red;
}

.login {
    background-color: #ffffff;
    width: max-content;
    padding-block: 30px;
    margin: 50px;
}

.login label {
    display: inline-block;
    width: 80px;
    padding: 2px 0;
    text-align:left;
}

.boton{
    padding: 10px;
    text-align: center;
}

.boton input{
    padding: 5px;
    border-radius: 5px;
}