* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../assets/fondoTextos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

ul {
    display: flex;
    gap: 1.2rem;
    list-style: none;
    padding: 5px;
    font-weight: bold;
}

#opcionesTextos {
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
}

#opcionesTextos li {
    padding: 10px;
}

#opcionesTextos li:hover {
    background-color: #f0f0f0;
}

.hidden {
    display: none;
}

#infoTextos {
    border: 3px solid black;
    border-radius: 20px;
    padding: 50px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
}

form {
    h2 {
        margin-bottom: 20px;
        text-align: center;
        text-decoration: underline;
        border: 3px solid black;
        border-radius: 5px;
        padding: 5px;
        color: red;
    }
}

.botones {
    background-color: white;
}

button{
    padding: 3px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

#boton {
        padding: 6px;
        text-align: center;
        margin-left: 50px;
        margin-top: 5px;
}

header {
    background-color: #990000;
}

.header {
    display: flex;
    padding: 20px 4vw;
    align-items: center;
}

.usuario {
    margin-left: auto;
}

.header img{
    width: 6rem;
    height: auto;
    margin: 0 10px;
}

.header p {
    color: #fff;
    margin: 0 10px;
    font-weight: bold;
    font-size: 18px;
}